#infoProduct {
  width: 90%;
  margin: 0 auto 5rem auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#box-left,
#box-right {
  flex: 1;
}
#box-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#box-opinion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

#box-opinion > p {
  text-align: left;
}
#box-left > img {
  width: 575px;
  height: 591px;
}
#perfil-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}
#box-perfil {
  display: flex;
  gap: 1rem;
}
#perfil-name {
  display: flex;
  gap: 0.5rem;
}

#perfil-name > p {
  font-weight: 800;
}
#perfil-name > span {
  color: #5bb59a;
}
#box-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#box1 {
  font-size: 32px;
}

#box2 {
  display: flex;
  gap: 1rem;
}

#box2 > img {
  background-color: #2c7ef8;
  border-radius: 10px;
}

#clarifionAirIonizer {
  font-weight: 700;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

#priceIonizer {
  display: flex;
  gap: 1rem;
}

.priceIonizer1 {
  font-size: 16px;
  color: #969696;
  text-align: center;
}

.priceIonizer2 {
  font-size: 22px;
  color: #2c7ef8;
  font-weight: 600;
}

#box2-left {
  text-align: left;
}

#box2-left > p > img {
  margin-right: 1rem;
}

#box3 > p {
  text-align: left;
  display: flex;
  gap: 1rem;
}

#box4 > p {
  padding: 1rem;
  background-color: #edf3fd;
  border-radius: 10px;
  text-align: left;
}

.blueContent {
  color: #2c7ef8;
}

#sectOne > button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #59ae43;
  color: white;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  width: 80%;
  font-weight: 700;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

#sectOne > button:hover {
  background-color: gold;
}

#sectTwo {
  display: flex;
  flex-direction: column;
}

#sectTwo > p {
  width: 50%;
  margin: 1rem auto 0 auto;
  color: #f82c2c;
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline;
}

#secure256 {
  display: flex;
  gap: 1rem;
  border: 1px solid #cfcfcf;
  padding: 0.5rem;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}
#secure256 > span {
  color: #cfcfcf;
}
#secure256 > p {
  color: #4d5254;
  font-size: 12px;
}

#box5-sectTwo-Img > img {
  width: 24px;
  height: 14px;
}

#box6 {
  display: flex;
  align-items: center;
}

#box6 > p {
  text-align: left;
  font-size: 16px;
}
#emblema {
  margin: 0;
  width: 88px;
  height: 88px;
}

@media (max-width: 1100px) {
  #box-left > img {
    width: 100%;
  }
  #infoProduct {
    flex-direction: column;
  }

  #sectOne > button > p {
    font-size: 14px;
  }
}
